---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
.site-title::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    top: 5px;
    background: url("favicon.png") no-repeat center center;
    background-size: contain; /* Ensures the image fits within the box */
}

.site-header {
    background-color: #759FBC;
}

// override the site-title color
.site-title {
    color: #262E45  !important;
    // make the text bold
    font-weight: bold;
}